.FAQHolder.expandedPadding {
    padding-top: 180px;
}


.contents {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

.contents li {
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contents li.even {
  animation-delay: 0.1s;
}

.contents li.odd {
  animation-delay: 0.2s;
}

.header {
  cursor: pointer;
}

.title {
  color: green;
}

.message {
  color: black;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  padding: 20px;
  display: none;
  overflow: hidden;
}

.message.show {
  max-height: max-content; /* Adjust this value as needed */
  display: block;
}
