.container_D {
  max-height: auto;
}

.dashboard_D {
  min-width: 500px;
  min-height: 98vh;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .dashboard_D {
    min-width: 500px;
  }
}

@media only screen and (min-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .dashboard_D {
    min-width: 400px;
  }
}

@media only screen and (min-width: 325px) {
  /*Small smartphones [325px -> 425px]*/
  .dashboard_D {
    min-width: 390px;
  }
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the video stays behind other content */
}

.background-video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.dashboardInfo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  background: linear-gradient(45deg, rgba(34, 164, 116, 1) 0%, #292f8f 100%);
}

.nothing {
  width: 400px;
  height: fit-content;
}

.note {
  position: inherit;
}

.attachmentBG {
  background-image: url("/public/folder.svg");
  background-position: center;
  background-size: cover;
  height: 450px;
}

.personalInfo {
  background-image: conic-gradient(
    rgb(211, 46, 46),
    rgb(182, 182, 41),
    rgb(6, 87, 6)
  );
  height: 50px;
  display: flex;
  align-items: center;
  font-size: larger;
  justify-content: center;
  text-align: center;
  color: white;
}

.message-icon {
  clip-path: polygon(
    0 48%,
    49% 0,
    100% 0,
    100% 100%,
    75% 100%,
    49% 100%,
    0 49%
  );
  background-color: rgb(238, 230, 230);
  width: 30px;
  height: 220px;
}


.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 4px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination .disabled a {
  pointer-events: none;
  color: #ccc;
}