.FAQHolder.expandedPadding {
    padding-top: 180px;
}

.LoginMenu.expandedPadding {
    padding-top: 180px;
}

.FirebaseLoginMenu.expandedPadding {
    padding-top: 180px;
}

.RegisterMenu.expandedPadding {
    padding-top: 180px;
}
